.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features__list {
  // display: block;
  // display: flex;
  @media screen and (min-width: $tablet) {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    // text-align: center;
  }
  // @media screen and (min-width: $tablet) {
  //   flex-wrap: nowrap;
  // }
}

// .features__list.list .features__item {
//   @media screen and (min-width: $desktop) {
//     // width: 270px;
//   }
// }
.features__item {
  margin-bottom: 30px;
  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 270px;
    margin-top: 0px;
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

.features__box {
  display: flex;
  // width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 4px;
}

// .features__list .features__item + .features__item {
//   margin: 0;
//   @media screen and (min-width: $tablet) {
//     margin-left: 30px;
//   }
// }

.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section .features__text {
  font-size: 14px;
  line-height: 1.71;
}
