.team {
  background-color: #f5f4fa;

  &__list.list {
    display: flex;
  }
}

.team__list.list .team__item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: white;
}
.list .team__item + .team__item {
  margin-left: 30px;
}

.person {
  padding: 30px 0;

  &__title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
  }
}

.section .person__text {
  font-size: 16px;
  line-height: 1.18;
}

.social-networks {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 16px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary--white-color);
    width: 44px;
    height: 44px;
    outline: none;
    @include transition();
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
  }
}

.social-networks__link:hover .social-networks__icon,
.social-networks__link:focus .social-networks__icon {
  fill: #ffffff;
}

.social-networks__icon {
  fill: #afb1b8;
}

.social-networks .social-networks__item:not(:last-child) {
  margin-right: 10px;
}
