@mixin transition(
  $property: all,
  $duration: 250ms,
  $cubic: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $cubic;
}
